* {
	margin: 0;
	padding: 0;
}
.heroImage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url("./assets/cat.jpg");
	background-repeat: no-repeat;
 	background-color: #6E6262;
  	background-blend-mode: multiply;
  	background-size: 100vw;
	width: 100vw;
	max-width: 100%;
	height: 100vh;
}

.heroHeader {
	font-family: Montserrat;
	font-size: 6rem;
	color: white;
}
.subHeader {
	font-family: Roboto;
	font-size: 2rem;
	color: white;
}
.baseButton {
	font-family: Montserrat;
	font-size: 2rem;
	color: white;
	background-color: lightblue;
	border-radius: 3rem;
	border: 3px solid white;
	padding: 2rem;
	margin: 2rem;
}
.baseButton:hover {
	background-color: black;
	color: white;
}

.baseStyle {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	max-width: 100%;
	background-color: lightgrey;
}

.baseStyle .content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 4rem;
}
.baseStyle .header {
	font: 6rem Montserrat;
}
.baseStyle .description {
	font: 2rem Roboto;
}

.baseStyle .content .card {
	display: flex;
	flex-direction: row;
	margin: 4rem;
}
.card .wrapper-card {
	display: flex;
	flex-direction: column;
	margin: 4rem;
}
.card .wrapper-card button {
	background-color: #d037ef;
	padding: 1rem 2rem 1rem 2rem;
	font: 1.5rem Roboto;
	color: white;
	border-radius: 3rem;
	border-style: none;
	margin-right: 1rem;
}
.card .wrapper-card p {
	margin-top: 2rem;
	font: 1.4rem Montserrat;
}