.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 3px solid black;
}
p {
	color: red;
}

h1 {
	font-size: 2rem;
	color: lightskyblue;
}
.titleStyle {
	color: purple;
	font-size: 4rem;
}
#titleId {
	color: yellow;
}

.awesomeText {
	font-size: 5rem;
	color: green;
}
#awesomeText {
	font-size: 1rem;
	color: blue;
}
.simpleText {
	font-size: 2rem;
}
#simpleText {
	color: yellow;
}

.profilePic {
	height: 10rem;
}